{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-12 shadow p-3 mb-5 bg-white rounded">
        <h3>Редактирование задачи - # {{task.id}}</h3>
        <form action="/task/{{task.id}}" method="post">
            <div class="form-group">
                {% if (has('error')) %}
                <div class="alert alert-danger" role="alert">
                    {{ flush('error') }}
                </div>
                {% endif %}
                {% if (has('success')) %}
                <div class="alert alert-success" role="alert">
                    {{ flush('success') }}
                </div>
                {% endif %}
                {% if (has('errors')) %}
                {% set errors = flush('errors') %}
                <br>
                <div class="alert alert-danger" role="alert">
                    <ul>
                        {% for items in errors %}
                            {% for message in items %}
                                <li>{{message}}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                <label>Имя пользователя</label>
                <input type="text" name="user_name" class="form-control {% if (errors.user_name) %} is-invalid {% endif %}"  value="{{task.user_name}}" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label >Email</label>
                <input type="email" name="email" class="form-control {% if (errors.email) %} is-invalid {% endif %}" value="{{task.email}}">
            </div>
            <div class="form-group">
                <label>Описание</label>
                <textarea name="body" cols="30" rows="10" class="form-control {% if (errors.body) %} is-invalid {% endif %}">{{task.body}}</textarea>
            </div>
            <div class="form-group">
                <label>Статус</label>
                <select name="is_done" class="form-control">
                    <option value="0" {{ task.is_done == 0 ? 'selected' : ''}}>Не выполнено</option>
                    <option value="1" {{ task.is_done == 1 ? 'selected' : ''}}>Выполнено</option>
                </select>
            </div>
            {% if(task.is_edited) %}
                <p class="text-primary">Отредактировано администратором</p>
            {% endif %}
            <a href="/" type="submit" class="btn btn-success">К списку задач</a>
            <button type="submit" class="btn btn-primary">Редактировать</button>
        </form>
    </div>
</div>
{% endblock %}