{% extends "base.html" %}

{% block content %}
<br>
{% if(auth_check() == false) %}
    <div class="row">
        <div class="col-12">
            <a href="/login" class="btn btn-primary">Admin Auth</a>
        </div>
    </div>
{% else %}
<div class="row">
    <div class="col-12">
        <a href="/logout" class="btn btn-primary">Logout</a>
    </div>
</div>
{% endif %}
<div class="row">
    <div class="col-12 shadow p-3 mb-5 bg-white rounded">
        <h3>Добавить задачу</h3>
        <form action="/task" method="post">
            <div class="form-group">
                {% if (has('error')) %}
                <div class="alert alert-danger" role="alert">
                    {{ flush('error') }}
                </div>
                {% endif %}
                {% if (has('success')) %}
                    <div class="alert alert-success" role="alert">
                        {{ flush('success') }}
                    </div>
                {% endif %}
                {% if (has('errors')) %}
                    {% set errors = flush('errors') %}
                    <br>
                    <div class="alert alert-danger" role="alert">
                        <ul>
                            {% for items in errors %}
                                {% for message in items %}
                                    <li>{{message}}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <label>Имя пользователя</label>
                <input type="text" name="user_name" class="form-control {% if (errors.user_name) %} is-invalid {% endif %}"  aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label >Email</label>
                <input type="email" name="email" class="form-control {% if (errors.email) %} is-invalid {% endif %}">
            </div>
            <div class="form-group">
                <label>Описание</label>
                <textarea name="body" cols="30" rows="10" class="form-control {% if (errors.body) %} is-invalid {% endif %}"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Добавить</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h3>Список задач</h3>
        {% if (tasks.count() > 0) %}
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">
                        {% if(queryParams.order is defined) %}
                            <a href="/?{{queryParams.page is defined ? 'page=' ~ queryParams.page : 'page=1' }}&order=user_name&dir={{queryParams.dir == 'DESC' ? 'ASC' : 'DESC'}}">Имя</a>
                        {% else %}
                            <a href="/?{{queryParams.page is defined ? 'page=' ~ queryParams.page : 'page=1' }}&order=user_name&dir=DESC">Имя</a>
                        {% endif %}
                    </th>
                    <th scope="col">
                        {% if(queryParams.order is defined) %}
                            <a href="/?{{queryParams.page is defined ? 'page=' ~ queryParams.page : 'page=1' }}&order=email&dir={{queryParams.dir == 'DESC' ? 'ASC' : 'DESC'}}">Email</a>
                        {% else %}
                            <a href="/?{{queryParams.page is defined ? 'page=' ~ queryParams.page : 'page=1' }}&order=email&dir=DESC">Email</a>
                        {% endif %}
                    </th>
                    <th scope="col">Текст</th>
                    <th scope="col">
                        {% if(queryParams.order is defined) %}
                            <a href="/?{{queryParams.page is defined ? 'page=' ~ queryParams.page : 'page=1' }}&order=is_done&dir={{queryParams.dir == 'DESC' ? 'ASC' : 'DESC'}}">Статус</a>
                        {% else %}
                            <a href="/?{{queryParams.page is defined ? 'page=' ~ queryParams.page : 'page=1' }}&order=is_done&dir=DESC">Статус</a>
                        {% endif %}
                    </th>
                    {% if(auth_check()) %}
                        <th>Действия</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                        <tr>
                            <td>{{task.user_name}}</td>
                            <td>{{task.email}}</td>
                            <td>{{task.body}}</td>
                            <td>
                                {% if (task.is_done) %}
                                    <span class="text-success">Выполнено</span>
                                {% else %}
                                    <span class="text-warning">Не выполнено</span>
                                {% endif %}

                                {% if(task.is_edited) %}
                                    <p class="text-primary">Отредактировано администратором</p>
                                {% endif %}
                            </td>
                            {% if(auth_check()) %}
                                <td><a href="/task/{{task.id}}">Редактировать</a></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% if (tasks.hasPages()) %}
                {% set queryString = '' %}

                {% if (queryParams.order is defined) %}
                    {% set queryString = '&order=' ~ queryParams.order ~ '&dir=' ~ queryParams.dir %}
                {% endif %}

                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="{{ tasks.url(tasks.firstPage()) ~ queryString }}" rel="next">Первая</a>
                        </li>
                        {% if(tasks.onFirstPage()) %}
                            <li class="page-item disabled" aria-disabled="true">
                                <span class="page-link">Сюда</span>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="{{ tasks.previousPageUrl() ~ queryString }}" rel="prev" aria-label="Сюда">Сюда</a>
                            </li>
                        {% endif %}

                        {% set k = tasks.lastPage() %}
                        {% for page in 1..k %}
                            {% if (page == tasks.currentPage()) %}
                                <li class="page-item active" aria-current="page"><span class="page-link">{{ page }}</span></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="{{ tasks.url(page) ~ queryString }}">{{ page }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if(tasks.hasMorePages()) %}
                            <li class="page-item">
                                <a class="page-link" href="{{ tasks.nextPageUrl() ~ queryString }}" rel="next">Туда</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled" aria-disabled="true">
                                <span class="page-link">Туда</span>
                            </li>
                        {% endif %}

                        <li class="page-item">
                            <a class="page-link" href="{{ tasks.url(tasks.lastPage()) ~ queryString }}" rel="next">Последняя</a>
                        </li>
                    </ul>
                </nav>
            {% endif %}
        {% else %}
            Задачи еще не добавлены
        {% endif %}
    </div>
</div>

{% endblock %}