{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-12">
        <form action="/auth" method="post">
            <div class="form-group">
                {% if (has('errors')) %}
                    {% set errors = flush('errors') %}
                    <br>
                    <div class="alert alert-danger" role="alert">
                        <ul>
                            {% for items in errors %}
                                {% for message in items %}
                                    <li>{{message}}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <label>Логин</label>
                <input type="text" name="login" class="form-control {% if (errors.login) %} is-invalid {% endif %}">
            </div>
            <div class="form-group">
                <label>Пароль</label>
                <input type="password" name="password" class="form-control {% if (errors.password) %} is-invalid {% endif %}">
            </div>
            <button type="submit" class="btn btn-primary">Вход</button>
        </form>
    </div>
</div>

{% endblock %}